

<div class="sidebar">
     
        <a [routerLink]="['home']" routerLinkActive="active">Home</a>
        <a [routerLink]="['prices', 10]" routerLinkActive="active">prices</a>
        <a [routerLink]="['about']" routerLinkActive="active">about</a>
 
</div>
