
<div class="contenedor">

<div class="box">
    <h1>{{numero}}</h1>
</div>

<div class="operdores">
    <button type="button" (click)="incrementar()">+</button>
    <button type="button" (click)="decrementar()">-</button>
    <div *ngIf="contador>50 || contador<0">
     
        <div class="mensaje">
          <h3>{{advertencia}}</h3>
        </div>
   </div>
   </div>
</div>


