
.contenedor{
    width: 200px;
    margin: 5rem auto;
    
}

.box{
    width:100%;
    height: 100%;
    background-color: rgb(196, 210, 42);
    text-align: center;
    font-size: 3rem;
    color: blue;
    border-radius: 2rem;
    
}
 button{
     text-align: center;
    background-color: red;
    width: 40%;
    height: 50px;
    margin-left: 10px;
    font-size: 2rem;
}

.mensaje{
    margin-left: -25%;
    margin-top: 3rem;
    border: solid 1px;
    width:300px;
    text-align: center;
    
}