<div class="contenedor-header">
    <ul>
        <li><a [routerLink]="['home']" routerLinkActive="active">Home</a> </li>
        <li><a [routerLink]="['paginas']" routerLinkActive="active">paginas</a> </li>
        <li><a [routerLink]="['promociones']" routerLinkActive="active">Promociones</a> </li>
    </ul>
</div>