.contenedor-header{
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    height: 40%;
    border-radius: 30px;
}



ul li{
    display: inline-block;
    background-color: rgba(240, 248, 255, 0.028);
    border-radius: 20px;
    margin: 2rem;
    text-align: center;
    padding: 6px;
    
}

ul li a{

    font-size: 3rem;
    text-decoration: none;
    color: rgb(8, 7, 7);
    border-radius: 20px;
    margin-left: 8rem;
    padding: 5px 10px 5px 10px;

}

ul li a:hover{
    color: rgb(237, 226, 226);
    background-color: rgb(15, 15, 15);
}

.active{
    background-color: rgba(137, 33, 33, 0.387);
    
}
