.arriba{
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.txtbox{
    height: 1.3rem;
    margin-left:1.3rem;
    margin-right: 1.3rem;

}
.adicion{
    height: 1.7rem; 
    font-weight: bold;
    background-color: rgba(133, 155, 165, 0.232);
    border-radius: 4px;
}
.adicion:hover{
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.866);
}


select{
    height: 25px;
    font-size: 18px;
    margin-right: 6rem;
    background-color: rgba(153, 205, 50, 0.259);
    margin-bottom: 3rem;
}

.mostrar{
    height: 25px;
    font-size: 18px;
}






