<h1>ejercicio 11</h1>
<hr>

<div class="contenedor">
    <form (ngSubmit)="guardar()" #forma="ngForm">
       <div class="arriba">
            <label for="fname">introdusca nombres:</label>
            <input type="text"
            required
            id="fname" 
            placeholder="Nombre" 
            pattern="^[a-zA-zñÑ\s]+$"
            class="txtbox"
            name="nombre"
            minlength="3"
            ngModel>
            <button type="submit" class="adicion">adicionar nombres</button>
       </div>
       
       <div class="bajo">
            <select>
            <option>Seleccione ...</option>
            </select>  

            <button type="button" class="mostrar">Mostrar nombresS</button>
           
            <div
              class="combobox"> <textarea cols="70" rows="10"></textarea>
            </div>

       </div>

    </form>
</div>

