<div class="pag">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique minima, recusandae incidunt odit harum dignissimos explicabo. Quisquam ipsa molestias porro. Distinctio officiis asperiores tempore labore nihil beatae sed? Itaque, animi!</p>
</div>