
.contenedor{
    width: 500px;
    margin: 10rem auto;

}


button{
    background-color: rgb(180, 159, 159);
    font-size: 30px;
    border-radius: 2rem;
    text-align: center;
    margin-left: 8%;
    
}
.mensaje{
    margin-top: 4rem;
    border:solid 2px;
    text-align: center;
    border-style: dashed;
}

#btn1{
    background-color: rgb(85, 85, 223);
}#btn2{
    background-color: rgb(228, 109, 18);
}#btn3{
    background-color: rgb(82, 221, 27);
}

.p1{
    font-size: 25px;
    font-weight: bold;
    color:rgb(85, 85, 223); 
}.p2{
    font-size: 25px;
    font-weight: bold;
    color:rgb(228, 109, 18);
}.p3{
    font-size: 25px;
    font-weight: bold;
    color:rgb(82, 221, 27);
}