<div class="contenedor">
    <div class="botones">
        <button type="button" (click)="btn1()" id="btn1">boton 1</button>
        <button type="button" (click)="btn2()" id="btn2">boton 2</button>
        <button type="button" (click)="btn3()" id="btn3">boton 3</button>
     
      
    <div class="mensaje" [ngSwitch]="opcion">
         <div *ngSwitchCase="0">
            <p class="p3">Mensaje informativo</p>
        </div>
         <div *ngSwitchCase="1">
                <p class="p1">se presiono el boton 1</p>
        </div>
      
        <div *ngSwitchCase="2">
            <p class="p2">se presiono el boton 2</p>
        </div>
       
    </div>
   
    </div>
</div>