.principal{
    margin: 0 auto;
    }

.card{
    margin: 0 auto;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    width: 30%;
    margin-bottom: 2rem;
    border-radius: 15px;
    text-align: center;
}

.btn{
    width: 30%;
    margin: 0 auto;
}
.btn .boton{
    display: block;
    width: 100%;
    font-size: 45px;
    color: white;
    height: 3rem;
    text-align: center;
    border-radius: 15px;
    background-color: black;
    padding-bottom: 5px;
}