<div class="principal">
    <h2>Datos personales:</h2>
    <hr>
        <div *ngIf='mostrar' class="card">
           <div class="cont"> 
            <h2>{{nombreLargo.nombre}}</h2>
            <b>{{nombreLargo.direccion}}</b>
           </div>
        </div>
</div>
<div class="btn">
<button class="boton" (click)="mostrar = !mostrar">mostrar/ocultar</button>
</div>