* {
  box-sizing: border-box;
}

body {
        margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  height: 6rem;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(18, 18, 18);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    height: 100%;
  }
  
  .navbar a:hover {
    background-color: #111;
    color: white;
  }
  
  .active {
    background-color: #2196F3;
    color: white;
  }
  