<div class="navbar">

    <a [routerLink]="['inicio']" routerLinkActive="active">Inico</a>
    <a [routerLink]="['fotos']" routerLinkActive="active">Fotos</a>
    <a [routerLink]="['productos']" routerLinkActive="active">Productos</a>
    <a [routerLink]="['promociones']" routerLinkActive="active">Promociones</a>

</div>