<div class="contenedor-sitebar">
   
        <li><a [routerLink]="['menu1']" routerLinkActive="active">Menu 1</a></li>
        <li><a [routerLink]="['menu2']" routerLinkActive="active">Menu 2</a></li>
        <li><a [routerLink]="['menu3']" routerLinkActive="active">Menu 3</a></li>
        <li><a [routerLink]="['menu4']" routerLinkActive="active">Menu 4</a></li>
        <li><a [routerLink]="['menu5']" routerLinkActive="active">Menu 5</a></li>
        
</div>
