.contenedor-sitebar{
    display: block;
    background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
    width: 20%;
    height: 100%;
    border-radius: 30px;
    float: left;
    
    
}
li{
    display: block;
    padding-top: 0.8rem;
    text-decoration: none;
    text-align: center;
   
    
}


 a{
  margin-bottom:2rem;
  display: block;
  color: rgb(246, 242, 242);
  font-size: 2rem;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  padding: 10px;

  
}
 a:hover{
background-color: aqua;
color: black;
text-align: center;

}
.active{
    background-color: red;
}



