div{
    margin: 0 auto;
}
p{
   color: blue;
   text-align: center;
   display: block;
   font-size: 3rem;
   margin: 0;
   padding-top: 8rem;
}

.navbar2{
    margin-top: 4rem;
    background-color: aqua;
    border-radius: 3rem;
    float: right;
    padding-top:10px;
    padding-bottom: 10px;
}

a{
    font-size: 30px;
    text-decoration: none;
    font-family: sans-serif;
    margin-left: 8rem;
    margin-right: 8rem;
    color: black;
    background-color: #3898e2;
    border-radius: 1rem;
   padding: 5px;
}

a:hover{
    background-color: blue;
    color: white;
}
.active{
    background-color: red;
}