
<div>
<p>ruta20 works!</p>
</div>
<div class="navbar2">
    <a [routerLink]="['domingo']" routerLinkActive="active" >domingo</a>
    <a [routerLink]="['lunes']"routerLinkActive="active" >lunes</a>
    <a [routerLink]="['martes']"routerLinkActive="active" >martes</a>
</div>
<router-outlet></router-outlet>