.navbar{
    float: right;
    position: relative;
    width: 78%;
    background-color: rgb(16, 15, 15);
    border-radius: 4rem;
 
}

.navbar a{
    text-align: center;
    font-size: 3rem;
    margin-left: 8rem ; 
    margin-right: 8rem;
    text-decoration: none;
    color: rgb(240, 226, 226);
    border-radius: 1rem;
   padding-left: 1rem;
   padding-right: 1rem;
}

.active {
    background-color: #e11111;
    color: rgb(236, 223, 223);
}