<div class="navbar">
    <a [routerLink]="['ruta20','nuevoValor']"routerLinkActive="active" >20</a>
    <a [routerLink]="['ruta50']"routerLinkActive="active" >50</a>
    <a [routerLink]="['ruta80']"routerLinkActive="active" >80</a>
</div>
<router-outlet></router-outlet>
