*{
    font-family: Arial;
    box-sizing: border-box;
  }
  
  .contenido{
    width: 100%;
  }
  
  .title{
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
  }
  
  .column-izq{
    width: 45%;
    display: flex;
    flex-direction: column;
    float: left;
  }
  
  .column-der{
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  
  .res{
    float: left;
  }
  
  .preguntas{
    margin: 20px;
  }
  
  .respuestas{
    margin-top: 20px;
  }
  
  .verificacion{
    margin-top: 40px;
    display: flex;
    float: left;
    background-color: rgba(255, 0, 0, 0.251);

  }
  
  fieldset{

    border: 2px solid rgba(0, 0, 0, 0.079);
  }
  
  
  .btn{
    margin: 0 auto;
    
  }
  
  .boton{
    margin: 30px;
    width: 100%;
    background-color: rgba(28, 27, 29, 0.93);
    color: white;
    font-size: 25px;
  }
  
  .advertencia{
    text-align: center;
    color: red;
  }
  