.container{
  width: 70%;
  margin: 5rem auto;
  font-family:Tahoma, sans-serif;
 
}
button{
  width: 20%;
  font-size: 30px;
}

.contenido{
  text-align: center;
  font-size: 30px;
  
}

.txtbox{
  width: 40%;
  
  margin-right: 15px;
  font-size: 25px;  

}

.txt{
  margin-right: 5px;
  
}

.alerta{
  margin-top: 5px;
  color: red;
}