<h1>Ejercicio 16</h1>
<hr>

<div class=" mensajes">
  <p>
    Primer input <span>{{ mensaje1 }}</span>
  </p>
  <p>
    segundo input <span>{{ mensaje2 }}</span>
  </p>
  <p>
    tercer input <span>{{ mensaje3 }}</span>
  </p>
  <p>
    cuarto input <span>{{ mensaje4 }}</span>
  </p>
  <p>
    quinto input <span>{{ mensaje5 }}</span>
  </p>
</div>