*{
  font-family: Arial, Helvetica, sans-serif;
}

p{
  color: rgb(21, 0, 0);
}

span{
  color: rgb(221, 137, 41);
  font-weight: bold;
}
.mensajes{width: 50%;
  margin: 6rem auto;
  background-color: aqua;
 
}