<h1>ejercicio 17</h1>
<hr>
<app-hijo
(EventoMensaje1)="obtenerMensaje($event)"
(EventoMensaje2)="obtenerSegundo($event)"
(EventoMensaje3)="obtenerTercer($event)"
(EventoMensaje4)="obtenerCuarto($event)"
(EventoMensaje5)="obtenerQuinto($event)"
>
</app-hijo>
<div>
  <h2>
    Output
  </h2>
  <hr>
  <h3>
    Mensaje del hijo: {{ mensajePadre }}
  </h3>
  <h3>
    2 Mensaje del hijo: {{ SecondMessage }}
  </h3>
  <h3>
    3  Mensaje del hijo: {{ thirdMessage }}
  </h3>
  <h3>
    4 Mensaje del hijo: {{ fourthMessage }}
  </h3>
  <h3>
    5 Mensaje del hijo: {{ fifthMessage }}
  </h3>
</div>