
.sidebar {
    
    overflow: hidden;
    width: 20%;
    background-color: rgba(47, 26, 26, 0.486);
    border-radius: 3rem;
    float: left;
  
  }
 
  
  .sidebar a {
    width: 100%;
    height: 50px;
    float: left;
    color: white;
    text-align: center;
   
    text-decoration: none;
    font-size: 40px;
    padding: 3rem 0 3rem 0;
  }
  

  .sidebar a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #470fe3;
    color: white;
  }
  
  
  