<h2>Formulario </h2>
<hr>

<div class="container">
  <form (ngSubmit)="guardar()"  #forma="ngForm">


    <div class="row">
      <div class="col-5">
        <label for="fname" class="lbl">Nombre</label>
      </div>
      <div>
        <input 
        type="text" 
        id="fname" 
        placeholder="Nombre" 
        class="txtbox" 
        name="nombre" 
        [(ngModel)]= "persona.nombre"
        required
        minlength="4"
        #nombre="ngModel"
        [class.is-invalid] = "nombre.invalid && nombre.touched"
        pattern="^[a-zA-zñÑ\s]+$"
        >
        <small class="text-danger" *ngIf="nombre.invalid && nombre.touched">
            Ingrese mas de 3 letras
          </small>
      </div>
    </div>



    <div class="row">
        <div class="col-5">
          <label for="femail" class="lbl">Email</label>
        </div>
        <div>
          <input 
           type="text"
           id="femail" 
           placeholder="Correo Electronico"
           class="txtbox"
           name="correo"
           [(ngModel)]= "persona.correo"
           required
           #correo="ngModel"
           [class.is-invalid]="correo.invalid && correo.touched"
           pattern="^(([^<>()\[\]\.,;:\s@\”]+(\.[^<>()\[\]\.,;:\s@\”]+)*)|(\”.+\”))@(([^<>()[\]\.,;:\s@\”]+\.)+[^<>()[\]\.,;:\s@\”]{2,})$"
           >
           <small class="text-danger" *ngIf="correo.invalid && correo.touched">
            Ingrese un email valido
          </small>
        </div>
      </div>


      
      <div class="row">
        <span><input 
        type="checkbox" 
        ngModel
        required [disabled]= "!forma.valid" 
        >Acepta los teminos y condiciones</span>
      </div>
     
      <div class="row">
        
        <div class="alinea-btn">
          <button type="submit" class="btn"
           [disabled]="!forma.valid" >Guardar</button>
       </div>
      </div>
    </form>
  </div>
  
