<!-- 4.- Crear un nuevo proyecto y luego un componente llamado footer.component.ts colocar la fecha actual
de forma dinámica, dentro del componente y el componente debe estar en app.component.html. -->
<footer>
    <p>
       la fecha de hoy : {{dia}} / {{mes+1}} / {{anio}}
    </p>
</footer>