<div>

    <h1>Variables input</h1>
    <h3>Mensaje del padre: {{ primerMensaje }}</h3>
    <h3>segundo Mensaje del padre: {{ segundMensaje }}</h3>
    <h3>primer objeto del padre: {{ primerObjeto | json}}</h3>
    <h3>segundo objeto del padre: {{ segundoObjeto | json}}</h3>
</div>